@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

@keyframes color {
  0% { background: #3cc; }
  20% { background: #33cc36; }
  40% { background: #b8cc33; }
  60% { background: #fcca00; }
  80% { background: #33cc36; }
  100% { background: #3cc; }
}

.hidden {
  display: none;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, #2a73c6 0%, #212ebc 100%);
  animation: color 9s infinite linear;
  font-family: 'Exo', sans-serif;
}

li {
  list-style: none;
  font-weight: bold;
}

h1,
.error,
.scores-header,
.scores-list li {
  padding-left: 30px;
}

.leaderboard-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.refresh {
  background-color: rgb(11, 181, 77);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  height: 30px;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 5px;
}

.scores-header,
.main-content,
.recent-scores,
.add-score-form,
.scores-list,
.scores-list li {
  display: flex;
  justify-content: space-between;
}

.refresh,
.scores-list {
  border: 2px solid black;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.scores-header {
  flex-direction: row;
}

.main-content {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.recent-scores {
  flex-direction: column;
  width: 70%;
}

.add-score {
  margin-left: 30px;
}

.add-score-form {
  flex-direction: column;
  width: 100%;
}

.add-score-form input {
  margin-top: 10px;
  height: 30px;
  width: 200px;
  outline-color: black;
}

.add-score-form button {
  background-color: #33cc36;
  margin-top: 10px;
  height: 30px;
  margin-left: auto;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

li:nth-child(odd) {
  background-color: #b9c4ef;
}

li:nth-child(even) {
  background-color: white;
}

.scores-list {
  flex-direction: column;
  padding-left: 0;
  width: 100%;
  margin-left: 30px;
  border-radius: 15px;
  box-shadow: 5px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.scores-list li {
  flex-direction: row;
  padding-right: 40px;
  padding-top: 10px;
  height: 30px;
  font-size: large;
}

.scores-list li:first-child {
  border-radius: 15px 15px 0 0;
}

.scores-list li:last-child {
  border-radius: 0 0 15px 15px;
}

.refresh,
.add-score-form button {
  width: 100px;
}

.error,
.success {
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.refresh:hover,
.add-score-form button:hover {
  background-color: #b9c4ef;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}
